
.section{
    background-color: rgba($color: #ffffff, $alpha: 1);
    line-height: 600px;
    z-index: 50;
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    animation: loading 2500ms linear 0s 1 both ;
}

.loader{
    width: 70px;
    height: 70px;
    margin: auto;
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
}

.loader-quart{
    border-radius: 50px;
    border: 10px solid #99E2D0;
}
.loader-quart::after{
    content: "";
    position: absolute;
    top: -10px; left: -10px;
    bottom: -10px;
    right: -10px;
    border-radius: 50px;
    border: 10px solid transparent;
    border-top-color: #FF79DA;
    border-bottom-color: #9356DC;
    animation: spin 2500ms linear 0s 1 ;
}


.main{
    .localisation{
        display: flex;
        background-color: #eaeaea;
        height: 40px;
        width: 100%;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 3px 3px #73737338 inset;
        &__name{
        font-weight: 400;
        font-size: 14px;  
        margin-left: 10px;
        }
    }
}

.main .description{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0 40px 0 ;
    &__title{
        display: flex;
        flex-wrap: wrap;
        font-weight: 700;
        font-size: 25px;
        text-align: center;
        margin: 30px 0 0 0;   
    }
    &__description{
        font-weight: 100;
        font-size: 20px;
        margin-left: 15px;
        text-align: center;
    }
    &__btn{
        @include btn;
        height: 50px;
        width: 220px;
        font-size: 17px;
    &:hover{
        color: white;
        box-shadow: 0px 2px 10px #757575;
    }
    }
}

/*Fonctionnement*/

.fonction{
    background-color: white;
    height: 440px;
    &__title{
        background-color: white;
        font-weight: 700;
        font-size: 25px;
        margin: 15px 30px 30px 15px;
        padding: 50px 0 0 0; 
    }
}

.container-fonction {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #F5F5F5;
    height: 75px;
    width: auto;
    border-radius: 1em 1em 1em 1em;
    box-shadow: 0px 2px 10px $color-shadow;
    margin: 20px 15px 20px 30px;
    &:hover{
        box-shadow: 0px 2px 10px $color-shadow-hover;
    }
    &__number{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #9356DC;
        color: white;
        font-size: 15px;
        height: 25px;
        width: 25px;
        border-radius: 1em 1em 1em 1em;
        margin-left: -10px; 
        font-weight: 400;
    }
    .fas.icon-fonction{
        align-items: baseline;
        color: #757575;
        font-size: 23px;
        margin-left: 30px;
        text-align: left;
    }
    &__description{
        font-weight: 300;
        color: black;
        font-size: 18px;
        font-weight: 700;
        margin-left: 30px;          
    }
}

.container-fonction.number3{
    background-color: lighten($color: $color-primary, $amount: 35);
    .fas.fa-store{
        color: $color-primary;
    }
}

/*Restaurant*/

.main .restaurants{
    &__title{
        font-weight: 700;
        font-size: 25px;
        margin: 15px 30px 30px 15px; 
        padding: 40px 0 0 0;
    }
}

.container-restaurants {
    color: black;
    background-color: white;
    height: 250px;
    width: auto;
    margin: 20px 15px 20px 15px;
    box-shadow: 0px 2px 10px $color-shadow;
    border-radius: 1em 1em 1em 1em;
    &:hover{
        box-shadow: 0px 2px 10px $color-shadow-hover;
    }
    &__link {
        text-decoration: none;
        color: black;    
    }
    &__link:hover{
        color: black;
    }
    .newcard{
        margin-top: 15px;
        background-color: $color-tertiary;
        color: darken($color: $color-tertiary, $amount: 40);
        font-size: 13px;
        height: 30px;
        width: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        z-index: 2;
        right: 30px;
    }
    .media-restaurants{
        z-index: 1;  
        width: 100%;
        height: 170px;
        object-fit: cover;
        border-radius: 1em 1em 0 0;
    }   
}

.description-restaurants {
    display: grid;
    grid-template-columns: 8fr 2fr;
    grid-template-rows: 2fr ;
    grid-template-areas: 
    "name name heart"
    "city city hear"
    ;
    &__name{
        grid-area: name;
        font-weight: 700;
        font-size: 18px;
        margin-top: 15px;
        margin-left: 15px;
        margin-bottom: 0;
    }
    &__menu-city{
        grid-area: city;
        font-weight: 300;
        font-size: 17px;
        text-align: left;
        margin-left: 15px;
        margin-top: 0px;
        padding-bottom: 15px;
    }
    .fa-heart{
        grid-area: heart;
        margin: 20px 30px 0 0;
        font-size: 25px;
    }
    .like-hover{
        @include like;
    }
}