$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;

$color-shadow: #bebebe;
$color-shadow-hover: #9e9e9e;

$color-btn: linear-gradient($color-secondary,$color-primary);

$typo-primary: 'Roboto', sans-serif;

$typo-secondary: 'Shrikhand', cursive;

