$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;

$color-shadow: #e3e3e3;
$color-shadow-hover: #c3c3c3;

$typo-primary: 'Roboto', sans-serif;

$typo-secondary: 'Shrikhand', cursive;
